@using WebMaze.Models.Bus
@model ManageBusWorkerViewModel

!!Only retoutch design

<div>
    @Html.Partial("BusAdminPartial")
</div>

<table class="table">
    <tbody>
        <tr>
            <th>
                Worker's first name
            </th>
            <th>
                Worker's last name
            </th>
            <th>
                Driver license id
            </th>
        </tr>
        @foreach (var worker in Model.BusWorkers)
        {
            <tr>
                <td>@worker.CitizenUser.FirstName</td>
                <td>@worker.CitizenUser.LastName</td>
                <td>@worker.CertificateId</td>
            </tr>
        }
        </tbody>       
</table>

<div>
    <form action="@Url.Action("ManageBusWorker", "Bus")" method="post">
        <div>
            Certificate Id: @Html.TextBoxFor(x=>x.LicenseId)
        </div>
        <div>
            Citizen Login: @Html.TextBoxFor(x => x.CitizenLogin)
        </div>
            @Html.HiddenFor(x => x.BusWorkers)
    <div>
        @Html.ValidationMessageFor(x => x.CitizenLogin)
        @Html.ValidationMessageFor(x => x.LicenseId)
    </div>
        <div>
            <input type="submit" value="Add worker" />
        </div>
    </form>
</div>
