@using WebMaze.Models.Bus
@model ManageBusWorkerViewModel

!!Only retoutch design

<div>
    @Html.Partial("BusAdminPartial")
</div>

<div>@foreach (var worker in Model.BusWorkers)
{
    <div>@worker.CertificateId @worker.CitizenUser.FirstName @worker.CitizenUser.LastName</div>
}</div>
<div>
    <form action="@Url.Action("ManageBusWorker", "Bus")" method="post">
        <div>
            Certificate Id: 
            <select name="CertificateId">
                @foreach(var certificate in Model.Certificates)
                {
                    <option value="@certificate.Id">@certificate.Id</option>
                }
            </select>
        </div>
        <div>
            Citizen Id: @Html.TextBoxFor(x => x.CitizenUserId)
        </div>
            @Html.HiddenFor(x => x.Certificates)
            @Html.HiddenFor(x => x.BusWorkers)
            @Html.HiddenFor(x => x.CitizenUsers)
    <div>
        @Html.ValidationMessageFor(x => x.CitizenUserId)
        @Html.ValidationMessageFor(x => x.CertificateId)
    </div>
        <div>
            <input type="submit" value="Add worker" />
        </div>
    </form>
</div>
